.container {
  width: 200px;
  height: 40px;
  line-height: 40px;
  position: relative;
  overflow: hidden;

  --distance-top: -60px;
  --distance-bottom: 60px;
}

.item {
  position: absolute;
  font-size: 2.2em;
}

.item span {
  position: relative;
}

i {
  display: inline-block;
  font-style: normal;
  transform: scale(1, 4) translate(0, var(--distance-top));
  font-weight: bold;
}


.item span.show i {
  transition: transform 0.5s ease-in-out;
  transform: scale(1, 1) translate(0, 0);
}

.item span.hide i {
  transition: transform 0.5s ease-in-out;
  transform: scale(1, 0.5) translate(0, var(--distance-bottom));
}
